.shadow-box {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#eee;
  border:0px solid #222;
  margin-bottom:10px;

}

.container2 {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:lemonchiffon;
  border:1px solid orange;
  margin-bottom:10px;
  font-size: 1.5vw;

}


.box {
  display: flex;
  padding: 0.5%;
  margin: 1rem;   
  width: 80%;
  background-color:white;
  border-radius: .9375rem
}

 #opt01{
    flex-direction: column;
    font-size: 1.2vw;
}

#opt02{
  flex-flow: space-between;
  font-size: 1.2vw;
}

#opt03{
  flex-flow: space-between;
  font-size: 1.2vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

#pricetext{
  color: orange;
  font-weight: bold;
  font-size: 150%;
}

.items{
  padding: 20px;
  background-color:white;
}


#cen-p {
  text-align: center;
}

#cen-pb {
  text-align: center;
  font-weight:bold;
}

#text-button {
  width: 5vw;
  height: 3vw;
  border: 0px solid black;
  background-color:orange;
  font-size: 1.2vw;
}

#bold{
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}

.scrollboxss {
  width: 15vw;
  height: 25vw;
  border: 0px solid black;
  background-color: lemonchiffon;
  position: fixed; /* 또는 position: sticky */
  top: 12rem;
  left: 1rem;
  opacity: 0.7;
  justify-content: center;
  font-size: 1.5vw !important;
  
}


  .buttonss {
    width: 15vw;
    height: 8vw;
    background-color: orange;
    border: none;
    cursor: pointer;
    font-weight:bold;
    font-size: 2vw;
  }

    .prev {
      float: left;
    }
  
    .next {
      float: right;
    }

    .buttons {
      clear: both;
      display: flex;
      justify-content: space-between;
     }

    pp{
      font-size: 2vw;
    }

    ppp{
      font-size: 2vw;
      font-weight:bold;
    }

    pppp{
      font-size: 2vw;
      font-weight:bold;
      color: coral;
    }